<div class="h-screen back">
  <mat-toolbar color="primary" class="sticky top-0 z-50">
    <div class="w-full">
      <a [routerLink]="['']">
        <img src="assets/logo-written.png" alt="logo" class="h-10 inline-block mr-3 invert">
      </a>
      <nav class="inline-block ml-5 space-x-4" *appAuthenticated>
        <a class="hover:underline font-sans" [routerLink]="['', 'itineraries']">Itineraries</a>
      </nav>
      <ng-container *ngIf="!!(session$ | async)">
        <button mat-icon-button
                [mat-menu-trigger-for]="profile"
                class="float-right">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #profile>
          <small mat-menu-item disabled><span class="menu-title">{{(session$ | async).subjectName}}</span></small>
          <button mat-menu-item [routerLink]="['profile']">profile</button>
          <button mat-menu-item (click)="onLogout()">logout</button>
        </mat-menu>
      </ng-container>
      <button mat-button class="float-right"
              *ngIf="!(session$ | async)"
              (click)="onLogin()">login
      </button>
    </div>
  </mat-toolbar>
  <div class="min-h-screen relative">
    <router-outlet></router-outlet>
    <footer>
      <span>footer</span>
    </footer>
  </div>
</div>
