<div class="m-5 flex justify-center">
  <mat-card class="login-card h-fit w-[500px] min-w-[300px]">
    <mat-card-title class="text-center">
      <span>Login</span>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" class="flex justify-center mb-3">
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>email</mat-label>
            <input type="text" matInput formControlName="email">
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
          </mat-form-field>
          <button mat-flat-button
                  color="accent"
                  class="w-full login-button"
                  [disabled]="loading"
                  (click)="onLogin()">
            Login
          </button>
          <mat-progress-bar class="mt-1" mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>
        </div>
      </form>
      <a mat-button color="primary" class="float-right" [routerLink]="['/auth/signup']">Signup</a>
    </mat-card-content>
  </mat-card>
</div>
