/* You can add global styles to this file, and also import other style files */
// noinspection CssInvalidAtRule
@tailwind base;
// noinspection CssInvalidAtRule
@tailwind components;
// noinspection CssInvalidAtRule
@tailwind utilities;
html, body { height: 100%; background-color: rgb(243, 243, 253);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-error {
  background-color: #660000;
}
